* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Vores start CSS er designet til mobiler i portait mode */
:root {
    --primary: #E7E0D6;
    --secondary: #9E9984;
    --tertiary: #868D77;
    --accent: #AE944A;
    --contrast: #475133;
    --extra: #8F7858;
    --shadow: #4f402c;
}

header {
    position: sticky;
}

header a {
    display: flex;
}

.left-icon {
    width: 12%;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
}

nav {
    position: absolute; /* Gør navbaren absolut i forhold til video-containeren */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent sort baggrund */
    color:#E7E0D6;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: none;
}

.cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: -2%;
}

#bigphoto {
    width: 100%;
}

.bigphototext-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--primary);
    padding: 6%;
    text-shadow: 2px 2px 2px black;
    
}

.bigphototext-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--primary);
    padding: 6%;
    text-shadow: 2px 2px 2px black;
}

nav label img {
    width: 15%;
    height: auto;
    margin-right: 2%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 4%;
}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ ul {
    display: block;
}

#menu-bar:checked ~ ul li {
    background-color: rgba(0, 0, 0, 0.8);
}

#menu-bar:checked ~ ul li a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary);
    padding: 0.3rem;
    font-size: 2rem;
}

header #menu-bar ul li:focus-within > ul,
header #menu-bar ul li:hover > ul {
    display: block;
}

.forside-titel {
    background-color: var(--primary);
    color: var(--shadow);
    text-align: center;
    padding: 4% 0;
}

.forside-billeder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container {
    position: relative;
    text-align: center;
    margin: -2px;
    margin-bottom: -5px;
}

.bestname::after {
    content: "\a";
    white-space: pre;
}

.bestname {
    font-size: 1.5rem;
}

.mobil-tekst {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--primary);
    padding: 0.8rem;
    
}

.bestseller {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.whitespace {
    height: 2rem;
    background-color: var(--primary);
}

.reviews {
    display: flex;
    flex-direction: column;
    color: #E7E0D6;
    text-shadow: 2px 2px 2px black;
    font-size: 0.8rem;
    background: url(../imgs/anmeldelses-billede.webp), rgba(0, 0, 0, 0.7);
    background-size: 200% 100%;
    background-position: 50% 50%;
    text-align: center;
    height: 30%;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
}

.fas {
    width: 8%;
    
}

.review-1, .review-2, .review-3, .review-4 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10% 20px;
}

main section section article {
    height: 100%;
}

.slide {
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
}

.slide article {
    position: absolute;
    animation: fling-minislide 20s infinite;
    opacity: 0;
    width: 100%;
}

@keyframes fling-minislide {
    0%, 9% { opcaity: 0.5; }
    10%, 45% { opacity: 1; }
    46%, 89% { opacity: 0; }
    90%, 100% { opcaity:0.5; }
}
.slide article:nth-child(1){
    animation-delay:0s;
}
.slide article:nth-child(2){
    animation-delay:10s;
}

.review-1 h2, .review-2 h2, .review-3 h2, .review-4 h2 {
    margin-bottom: 4%;
}



footer {
    background-color: #E7E0D6 ; /* Lys baggrund for footeren */
    color: #4f402c;           /* brun tekstfarve */
    text-align: center;     /* Centrerer tekst og indhold */

}

footer img {
    width: 30%;
    margin-top: 3rem;
}

form {
    display: grid;
    margin-bottom: 1.5rem;
    text-align: left;
    max-width: 400px; /* Maksimal bredde på formularen */
    margin: 0 auto;   /* Centrerer formularen */
}

form label {
    font-size: 1rem;
    font-weight: bold;
}

form input[type="text"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #4f402c;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #4f402c; /* Brun baggrund for knappen */
    color:  #E7E0D6;
    border: none;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

footer h2 {
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}


form input[type="submit"]:hover {
    background-color: #8F7858; /* Mørkere brun, når knappen hoveres */
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"] {
    width: 100%;               
    padding: 8px;             
    margin-bottom: 10px;      
    border: 1px solid #4f402c; /* mørk linje */
    border-radius: 4px;        /* runde hjørner */
    box-sizing: border-box;   
    font-size: 14px;           
    background-color: white;  
}


.submit-button {
    background-color: #4f402c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}

@media only screen and (min-width: 540px) and (orientation: landscape){ /* Til mobil der ligger ned, aka landscape mode */
    
    .left-icon {
        width: 8%;
    }

    nav label img {
        width: 9%;
        margin-top: 2%;
    }

}

@media only screen and (min-width: 768px) and (orientation: portrait){ /* Til ipad der står op, aka portrait mode */
    .left-icon {
        width: 12%;
    }

    nav label img {
        width: 14%;
        margin-top: 1.2%;
    }

    .forside-titel {
        font-size: 3.5rem;
    }

    .review-tekst{
        padding: 30% 15%;

    }

    .bigphototext-1, .bigphototext-2, .bestname, .review-titel {
        font-size: 2.5rem;
    }

    .mobil-tekst, .review-tekst, form label, form input[type="submit"] {
        font-size: 1.7rem;
    }

    form {
        max-width: 650px;
    }

    footer h2 {
        font-size: 5rem;
    }

    footer ul li {
        font-size: 1.5rem;
    }

    
}

@media only screen and (min-width: 1024px) and (orientation: landscape){ /* Til ipad der ligger ned, aka landscape mode */
    
    nav label img {
        margin-top: 1%;
    }

    .forside-titel {
        font-size: 4rem;
    }

    .bigphototext-1, .bigphototext-2, .bestname, .review-titel {
        font-size: 2.8rem;
    }

    .mobil-tekst, .review-tekst, form label, form input[type="submit"] {
        font-size: 2rem;
    }

    footer ul li {
        font-size: 1.8rem;
    }
    
}

@media only screen and (min-width: 1200px){

    .left-icon {
        width: 20%;
    }
    
    nav label img {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        list-style: none;
        padding: 0 3%;
    }

    nav ul li a {
        text-decoration: none;
        color: var(--primary);
        font-size: 2rem;
    }

    nav ul li a:hover {
        background:#4f402c;
    }

    nav ul li ul {
        display: none;
    }

    .forside-titel {
        font-size: 5.2rem;
        padding: 2%;
        margin-top: 2px;
        margin-bottom: -12px;
    }

    .bigphototext-1, .bigphototext-2 {
        font-size: 4.2rem;
    }

    .forside-billeder {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
    }

    .mobil-tekst {
        display: none;
    }

    .bestseller:hover ~ .mobil-tekst {
        display: block;
    }

    .review-1 h2, .review-2 h2, .review-3 h2, .review-4 h2 {
        margin-bottom: 1%;
    }

    .review-1, .review-2, .review-3, .review-4 {
        padding: 18% 3%;
    }

    .review-titel {
        font-size: 2.1rem;
    }

    .review-tekst {
        font-size: 1.5rem;
    }

    .reviews {
        flex-direction: row;
        object-fit: contain;
        height: 50vh;
        background: url(../imgs/anmeldelses-billede-pc.webp), rgba(0, 0, 0, 0.7);
        background-size: 100% 100%;
    }

    main section section article {
        height: 50vh;
    }

    .fas {
        width: 4%;
    }

    .overlay-text a {
        color: inherit;            
        text-decoration: none;     
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #E7E0D6; 
        padding: 20px;
        font-family:'Times New Roman', Times, serif
    }
    
    .footer-section {
        flex: 1;
        margin: 0 20px; 
    }
    
    .booking-form, .contact-info, .logo-section {
        text-align: left;
    }
    
    .booking-form h2 {
        font-size: 45px;
        color: #4f402c; 
        margin-bottom: 15px;
        max-width: 400%;
        text-align: center;
    }
    
    .booking-form form label {
        display: flex;
        margin: 2px 0 5px;
        font-size: 14px;
        color: #4f402c;
    }
    
    .booking-form input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #E7E0D6;
        font-size: 14px;
    }
    
    .submit-button {
        background-color: #4f402c;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 4px; 
    }
    
    .submit-button:hover {
        background-color: #4f402c;
    }
    
    
    .contact-info h2 {
        font-size: 45px;
        color: #4f402c;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .kontakt1, .kontakt2 {
        font-size: 15px;
        color: #4f402c;
        line-height: 1.6;
        text-align: center;
    }
    
    
    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .booking-form input[type="text"],
    .booking-form input[type="email"],
    .booking-form input[type="tel"] {
        width: 100%;               
        padding: 8px;             
        margin-bottom: 10px;      
        border: 1px solid #4f402c; /* mørk linje */
        border-radius: 4px;        /* runde hjørner */
        box-sizing: border-box;   
        font-size: 14px;           
        background-color: white;  
    }
    
    .footer-logo {
        width: 50%; 
        justify-content: center;
        justify-self: center;
    }
    
    ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
      }

      footer ul li{
        font-size: 1.1rem;
      }

}

