* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Vores start CSS er designet til mobiler i portait mode */
:root {
    --primary: #E7E0D6;
    --secondary: #9E9984;
    --tertiary: #868D77;
    --accent: #AE944A;
    --contrast: #475133;
    --extra: #8F7858;
}

header {
    position: sticky;
}

header a {
    display: flex;
}

.left-icon {
    width: 12%;
    height: auto;
    margin: 0.8rem auto;
    display: flex;
}

nav {
    background-color: black;
    opacity: 0.5;
    color: white;
    width: 100%;
}

nav ul {
    display: none;
}

.cover {
    max-width: 100%;
    overflow: hidden;
}

#bigphoto {
    width: 100%;
}

#menu-bar:checked ~ nav ul {
    display: block;
}

@media only screen (min-width: 540px) and (orientation: landscape){


}

@media only screen (min-width: 768px) and (orientation: portrait){

    
}

@media only screen (min-width: 1024px) and (orientation: landscape){

    
}

@media only screen (min-width: 1200px){

    
}